.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 200px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__bpvae {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74);
  flex-shrink: 0;
}
.svgstars_zero__bpvaeef36N {
  display: none;
}
.svg__xU7L {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74);
  flex-shrink: 0;
  display: none;
}
.svgstars_zero__xU7Lef36N {
  display: none;
}
.svgstars_one__xU7LgJeor {
  display: none;
}
.svg__h1NMc {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74);
  flex-shrink: 0;
  display: none;
}
.svgstars_zero__h1NMcef36N {
  display: none;
}
.svgstars_one__h1NMcGJeor {
  display: none;
}
.svgstars_two__h1NMcWsbrk {
  display: none;
}
.svg__ud9X {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74);
  flex-shrink: 0;
  display: none;
}
.svgstars_zero__ud9Xef36N {
  display: none;
}
.svgstars_one__ud9XGJeor {
  display: none;
}
.svgstars_two__ud9XWsbrk {
  display: none;
}
.svgstars_three__ud9XtmVe6 {
  display: none;
}
.svg__bJk2 {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74);
  flex-shrink: 0;
  display: none;
}
.svgstars_zero__bJk2Ef36N {
  display: none;
}
.svgstars_one__bJk2GJeor {
  display: none;
}
.svgstars_two__bJk2Wsbrk {
  display: none;
}
.svgstars_three__bJk2TmVe6 {
  display: none;
}
.svgstars_four__bJk2NqPey {
  display: none;
}
.svg__xFpoX {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169);
  flex-shrink: 0;
  display: none;
}
.svgstars_one__xFpoXgJeor {
  display: none;
}
.svgstars_two__xFpoXWsbrk {
  display: none;
}
.svgstars_three__xFpoXtmVe6 {
  display: none;
}
.svgstars_four__xFpoXnqPey {
  display: none;
}
.svgstars_five__xFpoX4E3Za {
  display: none;
}
.svg__y7IPy {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169);
  flex-shrink: 0;
}
.svgstars_two__y7IPyWsbrk {
  display: none;
}
.svgstars_three__y7IPYtmVe6 {
  display: none;
}
.svgstars_four__y7IPynqPey {
  display: none;
}
.svgstars_five__y7IPy4E3Za {
  display: none;
}
.svg___7NnJu {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169);
  flex-shrink: 0;
}
.svgstars_three___7NnJUtmVe6 {
  display: none;
}
.svgstars_four___7NnJunqPey {
  display: none;
}
.svgstars_five___7NnJu4E3Za {
  display: none;
}
.svg__jLEwi {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169);
  flex-shrink: 0;
}
.svgstars_four__jLEwiNqPey {
  display: none;
}
.svgstars_five__jLEwi4E3Za {
  display: none;
}
.svg__mbk9B {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169);
  flex-shrink: 0;
}
.svgstars_five__mbk9B4E3Za {
  display: none;
}
.slotTargetNumReviews {
  font-size: 14px;
  color: var(--token-VOutTs65yaLFeF);
}
